.chalkboard{
    width: 456px;
    display: flex;
    flex-direction: row;
    
    .burger {
      width: 456px;
      height: 655px;
    }
    .crown {
      width: 234px;
      height: 166px;
    }
}
