@import '../Styles-scss/Variables.scss';

.orders-header {
  // margin: 80px 70px 40px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 10px;

  .menu-buttons {
    button {
      @include button-menu();
    }
    button:focus{
      background: $chesse;
      color: black;
      border: 4px solid $chesse;
      font-weight: bold;
    }
  }
  span {
    display: flex;
    align-items: center;
    gap: 20px;
    .see-orders {
      @include button-orders();
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        color: $mayonese;
        font-family: $body;
        font-size: 24px;
      }
    }
    .exit {
      border: none;
      background: none;
    }
  }
}

.take-order {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  gap: 15px;
  padding: 30px 15px;
  height: 100%;
  .breakfast-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .product-bfast {
      display: flex;
      align-items: center;
      gap: 25px;

      .img-bfast {
        width: 127px;
        height: 105px;
      }
      section {
        width: 212px;
        font-family: $body;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 48px;
        color: $mayonese;
        list-style: none;
        text-align: center;
      }
      .btns-counter {
        display: flex;
        align-items: center;
        gap: 10px;

        .btn-add {
          @include btn-item;
          color: $lettus;
          border: 3px solid $lettus;
        }
        .btn-rest {
          @include btn-item;
          color: $tomato;
          border: 3px solid $tomato;
        }
        p {
          font-family: $title;
          font-style: normal;
          font-weight: normal;
          font-size: 50px;
          line-height: 103px;
          color: $mayonese;
        }
      }
    }
  }
}
.check {
  height: 80%;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      font-family: $sub-title;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 40px;
      color: $mayonese;
      .client {
        margin-left: 15px;
        padding-left: 10px;
        //box-shadow: 0px 4px 4px #B1CC47;
        background: rgb(105 105 105);
        border-radius: 15px;
        font-family: $body;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
      }
      p {
        font-family: $body;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 48px;
      }
    }
  }

  .empty-check {
    margin-top: 15px;
    width: 98%;
    padding: 10px;
    font-family: $body;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    background: rgb(255 255 255 / 26%);
    border-radius: 15px;
  }
  .cancel {
    background: $tomato;
    @include btns-check;
  }
  .send{
    background: $lettus;
    @include btns-check
  }
}
