@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
//fonts
$title: 'Fredericka the Great';
$sub-title: 'Special Elite';
$body: 'Annie Use Your Telescope';
//color
$chesse: #F2F466;
$lettus: #B1CC47;
$tomato: #FA5325;
$mayonese: #fffffa;
